<aside class="main-sidebar">
  <section class="sidebar">
    <!-- Sidebar user panel without image -->
    <div class="user-panel">
      <div class="pull-left info">
        <p>User Name</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">USER MENU</li>
      <li><a href="/user-dashboard"><i ></i> Dashboard</a></li>
      <li><a href="/user-address"><i class="fa fa-map-marker"></i> Address</a></li>
      <li><a href="/user-orders"><i class="fa fa-shopping-cart"></i> Orders</a></li>
      <li><a href="/wallet-status"><i class="fa fa-credit-card"></i> Wallet Status</a></li>
      <li><a href="/wallet-history"><i class="fa fa-history"></i> Wallet History</a></li>
      <li><a href="/referrals"><i class="fa fa-users"></i> Referrals</a></li>
      <li><a href="/abcd"><i class="fa fa-cog"></i> ABCD</a></li>
      <li><a href="/efg"><i class="fa fa-wrench"></i> EFG</a></li>
    </ul>
  </section>
</aside>

<style>
 .main-sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: #222d32; /* Sidebar background color */
  color: white;
  padding-top: 20px;
}

.sidebar {
  padding: 10px;
}

.sidebar a {
  color: black; /* Change text color to black */
  text-decoration: none;
  display: block;
  padding: 12px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  border-bottom: 1px solid rgba(226, 41, 41, 0.1);
}

.sidebar-menu li a:hover {
  background: rgba(255, 255, 255, 0.1);
}

.user-panel {
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.user-panel .info {
  text-align: left;
}

.sidebar-menu li a {
  font-size: 16px;
  padding-left: 20px;
}
</style>
